*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.RandomBeer {
  display: flex;
  flex-direction: row;
  background-color: aqua;
  width: 200px;
 height: 200px;

}
.ImageBeer {
  max-height: 100%;
  max-width: 100%;

  }